@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Display:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  margin: 24px;
}

body {
  background-color: #0d192c;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 24px;
  width: 100%;
  max-width: 350px;
  background-color: #15263f;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 15px;
}

.image_container {
  width: 100%;
  max-width: 302px;
  margin: 0 auto;
  padding: 0;
  border-radius: 8px;
  position: relative;
  z-index: 2;
}

.eye{
  display: none;
  position: absolute;
  top: 42.05%;
  left: 42.05%;
  z-index: 999;
}

.image_container:hover{
  background-color: #00fff8;
  cursor: pointer;
}

.image_container:hover > img{
  opacity: 0.5;
}

.image_container:hover > .eye{
  display: block;
}

img {
  width: 100%;
  height: auto;
  display: block;
  z-index: 1;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text > h1 {
  color: #fff;
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text > p {
  color: #8bacd9;
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px; /* 144.444% */
}

.eth {
  display: flex;
  justify-content: space-between;
}

.eth_child {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 7px;
}

.one {
  color: var(--Cyan, #00fff8);
  font-feature-settings: "liga" off, "clig" off;

  /* Caption (Bold) */
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.two {
  color: var(--Soft-Blue, #8bacd9);
  font-feature-settings: "liga" off, "clig" off;

  /* Caption */
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.author {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.line {
  height: 1px;
  background-color: #2e405a;
}

.content {
  display: flex;
  gap: 16px;
  align-items: center;
}
.content > p {
  color: #8bacd9;
  font-feature-settings: "liga" off, "clig" off;

  /* Caption */
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content > p > span {
  color: var(--White, #fff);
  font-feature-settings: "liga" off, "clig" off;

  /* Caption */
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pointer{
  cursor: pointer;
}

.pointer:hover{
  color: #00fff8;
}

@media (max-width:375px) {
  .card{
    gap: 16px;
  }
  .text{
    gap: 12px;
  }
}